  <div id="gallery_highlight_photo_size">
  	<% photo = media_album.photos.first %>
    <img src="<%="#{photo.image_url}"%>" class="gallery-main-photo-img" 
         title="<%=photo.name%>" alt="<%=photo.description%>"/>
    <% media_album.photos[1..-1].each do |photo| %>
      <img src="<%="#{photo.thumbnails[1].thumbnail_url}"%>" 
           class="gallery-thumbnail-img" title="<%=photo.name%>" 
           alt="<%=photo.description%>"/>
    <% end %>
  </div>