<%= include('entity-management') %>

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.album_management.form.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
  <%=t.album_management.form.description%>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <div id="elements_tbody" class="entity-blocks-container">
  </div>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

  <div class="entity-block-container">
    <div class="entity-block-container-inside all-space">
      <div style="height:108px">
        <%% if (entity && entity.thumbnail_url != null && entity.thumbnail_url.length > 0)  { %> 
        <img src="<%%= entity.thumbnail_url %>" class="box-shadow element-row-selector" style="display:block; margin: 0 auto" rel="<%%= index %>"/>
        <%% } else { %>
        <div class="box-shadow element-row-selector" style="width:144px; height: 108px" rel="<%%= index %>">
          <span class="centered_text" style="font-size:5em; display: block" data-icon="&#xe072;"></span> 
        </div> 
        <%% } %>
      </div>
      <div>
        <div class="smaller_text less_contrast_text centered_text top-margin"><%%= entity.name.substring(0, 20) %></div>
        <div class="right_text">
          <span class="smaller_text" data-icon="&#xe072;"> <%%= entity.size %></span> 
          <span class="smaller_text element-row-selector" rel="<%%= index %>" data-icon="&#xe082;"></span></a>
        </div>
      </div>
    </div>
  </div>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

     <form name="element" id="form_new_album">
        <%% if (entity == null) { %>
        <div class="form-fields container_12">
          <div class="grid_12">
            <h3 class="bottom-border-solid">Nuevo álbum</h3>
            <%= partial :alert %>
            <input type="hidden" name="root" id="root" value="true"/>
            <div class="formrow">
              <label for="name" class="fieldtitle"><%=t.album_management.form.name.label%> <span class="mandatoryfield">*</span></label>
              <input type="text" maxlength="40" size="40" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
            </div>
            <div class="formrow">
              <label for="width" class="fieldtitle"><%=t.album_management.form.width.label%></label>
              <input type="text" maxlength="3" id="width" name="width" class="fieldcontrol" value="0"/>
            <div class="formrow">              
              <label for="height" class="fieldtitle"><%=t.album_management.form.height.label%></label>
              <input type="text" maxlength="3" id="height" name="height" class="fieldcontrol" value="0"/>
            </div>                    
            <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
             </div>
            </div>         
          </div>
        </div>
        <%% } else { %>
          <div class="form-fields bottom-margin">
            <div class="container_12 bottom-border-solid bottom-margin ultra_less_contrast_text">
              <div class="grid_9">
                <div class="top-margin">
                  <% if user.belongs_to?('staff') %>
                  <div class="formrow-botonera">
                     <button type="button"
                         class="form-button element-action-button" 
                         data-action-method="GET"
                         data-action-url="/api/album/<%%=entity.id%>/synchronize"
                         data-confirm-message="<%=t.album_management.form.confirm_import_photos%>"><%=t.album_management.form.import_photos%></button>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="grid_3">
                <div class="top-margin">
                  <div id="properties" class="smaller_text over_cursor right_text as_link less_contrast_text">
                     <%=t.album_management.form.album_properties%>
                  </div>
                </div>          
              </div>
            </div>
            <div class="container_grid_pc">
              <div id="gallery">
              </div>
            </div>    
            <div id="properties_form" class="all-full-space box-shadow background-color-1" style="display:none">
                <h3 class="bottom-border-solid">Propiedades del álbum</h3>
                <%= partial :alert %>
                <input type="hidden" id="id" name="id" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.id %>" <%% } %> />
                <div class="formrow">
                  <label for="description" class="fieldtitle"><%=t.album_management.form.description.label%></label>
                <textarea name="description" id="description" class="fieldcontrol"><%% if (entity) { %><%%=entity.description %><%% }%></textarea>
                </div>
                <p style="text-align:right"> <span id="description_length"></span> <%= t.available_chars %> </p>               
                <div class="formrow">
                  <label for="width" class="fieldtitle"><%=t.album_management.form.width.label%></label>
                  <input type="text" maxlength="3" id="width" name="width" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.width %>" <%% } %> />
                  <div class="fielddescription">The standard width of all photo albums. The photo will be modified to fit in this size.</div>
                </div>
                <div class="formrow">
                  <label for="height" class="fieldtitle"><%=t.album_management.form.height.label%></label>
                  <input type="text" maxlength="3" id="height" name="height" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.height %>" <%% } %> />
                  <div class="fielddescription">The standard height of all photo albums. The photo will be modified to fit in this size.</div>
                </div>
                <div class="formrow">
                  <label for="external_album" class="fieldtitle">External album</label>
                  <input type="text" maxlength="50" id="external_album" name="external_album" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.external_album %>" <%% } %> />
                  <div class="fielddescription">Only type it if there is an existing album that has to be integrated in the system. If the album does not exist in the extarnal system leave it empty. When a the first photo is uploaded it will be created.</div> 
                </div>
                <div class="formrow">
                  <label for="media_storage[name]" class="fieldtitle">Storage</label>
                  <select id="media_storage[name]" name="media_storage[name]"></select>
                  <div class="fielddescription">The storage that holds the photos.</div>
                </div>
                <div class="bottom-navigation-bar navigation-bar">
                  <div class="navigation-bar-crud-buttons">
                    <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                  </div>
                </div>
             </div>
 

        <%% } %>
     </form>
     

</script>
