<h2><%=t.media_settings.form.title%></h2>
<div data-alerts="alerts" data-titles="{'success':'<%=t.entitymanagement.success%>','warning':'<%=t.entitymanagement.warning%>','error':'<%=t.entitymanagement.error%>'}" data-fade="10000"></div>
<form name="variables" action="/variables" method="PUT" 
      data-remote="ajax" data-remote-method="PUT">

  <h3><%=t.media_settings.form.storage_group%></h3>
  <p><%=t.media_settings.form.storage_description%></p>

  <% if not storages.empty? %>
  <%= render_variable_select('media.default_storage', t.media_settings.form.default_storage, storages) %>
  <% else %>
  <a href="/admin/media-storage/new?destination=/admin/config/media"><%= t.media_settings.form.create_storage%></a>
  <% end %>
  <a href="/admin/media-storage"><%= t.media_settings.form.see_storages%></a>

  <h3><%=t.media_settings.form.general_group%></h3>

  <%= render_variable_input_text('photo_media_accept', t.media_settings.form.photo_media_accept, 100, 100) %>  
  <%= render_variable_input_text('photo_max_size', t.media_settings.form.photo_max_size, 10, 10) %>  
  
  <div class="formrow-botonera">
  	<input type="submit" value="<%=t.entitymanagement.update%>" 
  	       class="button blue-button">
  </div>
</form>