<h2><%=t.console_media.title%></h2>
<%=t.console_media.description%>
<div class="container_12">
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/media-storage"><%=t.console_media.storage%></a></p>
    </div>
  </div>   
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/config/media"><%=t.console_media.configuration%></a></p>
    </div>
  </div>
  <div class="grid_3">
    <div class="box box-shadow guiblock background-color-1" style="padding: 3em">
      <p class="centered_text"><a href="/admin/album"><%=t.console_media.albums%></a></p>
    </div>
  </div>
 </div>