<form name="gallery_photo" target="gallery_photo_uploader" 
      method="POST" 
      enctype="multipart/form-data" 
      action="/api/photo-upload" 
      style="display:none">
  <input type="file" name="photo_file" id="photo_file" accept="<%= photo_accept %>"/>
  <input type="hidden" id="photo_album_prefix" name="photo_album_prefix" value="<%= photo_album_prefix %>"/>
  <input type="hidden" id="photo_width" name="photo_width" value="<%= photo_width %>"/>
  <input type="hidden" id="photo_height" name="photo_height" value="<%= photo_height %>"/>
  <input type="hidden" id="photo_album" name="photo_album"/>
  <input type="hidden" id="photo_id" name="photo_id"/>
  <input type="hidden" id="photo_name" name="photo_name"/>
  <input type="hidden" id="photo_description" name="photo_description">
</form>

<iframe id="gallery_photo_uploader" name="gallery_photo_uploader" style="display:none">
    Your system does not support iframes
</iframe>

<script type="text/javascript">

  /* ----------------------------
     Attachment Plugin
     ---------------------------- */

require(['jquery', 'YSDFileUploader', 'YSDEntityManagementComplementHooks', 'YSDMemoryDataSource', 'YSDRemoteDataSource',
         'YSDListViewer', 'YSDListManagement', 'YSDEventTarget', 'YSDjson2' ], 
        function($, FileUploader, EntityManagementComplementHooks, MemoryDataSource, RemoteDataSource, ListViewer, ListManagement, EventTarget ) {

  /* ----------------- Gallery Plugin ----------------- */

  GalleryPlugin = function() {
  
    this.selector = null;     /* ListManagement */
    this.fileUploader = null; /* FileUploader */

    this.onNew = function() {
      this.configForm(null);
      this.albumConfiguration();
    }
    
    this.onEdit = function(entity) {
	    this.configForm(entity);
      this.albumConfiguration();
    }
    
    this.albumConfiguration = function() {
      
      if ($('input[name=album\\[id\\]]').val() != '') {
      	$(document.forms['gallery_photo']['photo_album']).val($('input[name=album\\[id\\]]').val());
      }
      else {
        $(document.forms['gallery_photo']['photo_album']).val('');
      }

    }

    this.adaptFormData = function(data) {

      if (data) {
        if (data.album && data.album.id == '') {
          delete data.album;
        }
        if (data.photo_path == '') {
          delete data.photo_path;
        }
        if (data.photo_url_tiny == '') {
          delete data.photo_url_tiny;
        }
        if (data.photo_url_small == '') {
          delete data.photo_url_small;
        }
        if (data.photo_url_medium == '') {
          delete data.photo_url_medium;
        }
        if (data.photo_url_full == '') {
          delete data.photo_url_full;
        }                
      }

      if (data.album_id == null && this.manager.model.currentEntity() != null && this.manager.model.currentEntity().album_id != null) {
        data.album_id = this.manager.model.currentEntity().album_id; 
      }

      return data;
    }

    this.configForm = function(entity) {
      
      var self = this;
      var albumDataSource = null;
      
      if (entity && entity.album_id) {

        albumDataSource = new RemoteDataSource('/api/photos/' + entity.album_id, 
          {id:'id',
           description: function(data) {
           return '<img src="'+ data.photo_url_small + '" class="album-photo" data-photo-path="' + '/album/' + entity.album_id + '/photo/' + data.id + '"' + 'data-photo-url-tiny="' + data.photo_url_tiny + '"' + 'data-photo-url-small="' + data.photo_url_small + '"' + 'data-photo-url-medium="' + data.photo_url_medium + '"' + 'data-photo-url-full="' + data.photo_url_full + '" data-album-id="' + entity.album_id + '" data-photo-id="' + data.id + '"/>' 
         }
         });
      }
      else {
        albumDataSource = new MemoryDataSource([]);
      }

      this.selector = new ListManagement('gallery_form', 
                                         'gallery', 
                                         albumDataSource,
                                         '<%=t.album_management.form.upload_photo%>');
                 
      this.fileUploader = new FileUploader('gallery_photo', 'photo_file', 'gallery_photo_uploader');
     
      this.fileUploader.addListener('start_upload', function(event) {
        var fileName = event.data.fileName;
        self.selector.addElement({id:fileName, description:'<div style="width:144px; height: 85px; display:inline-block; text-align: center; position: relative; top: -30px; border: 1px dashed #EEE; background:url(\'/img/ajax-loader_grande.gif\'); background-repeat: no-repeat; background-position: center"><span style="position: relative; top: 30px; color: rgb(33, 107, 10);"><%=t.uploader.uploading_message%></span></div>', hideDelete: true});

      });

      this.fileUploader.addListener('file_uploaded', function(event) {
        
        var entityId = self.manager.model.getEntityId(self.manager.model.currentEntity());
        var entityAlbumId = self.manager.model.currentEntity().album_id;
        
        var data = event.data.file;
        var fileName = event.data.fileName;
        var album_id = data.album_id;
        
        self.selector.deleteElement(fileName);
        self.selector.addElement({id:data.id, 
          description: '<img src="' + data.photo_url_small + '" class="album-photo" data-photo-path="' + '/album/' + album_id + '/photo/' + data.id + '"' + ' data-photo-url-tiny="' + data.photo_url_tiny + '"' + ' data-photo-url-small="' + data.photo_url_small + '"' + ' data-photo-url-medium="' + data.photo_url_medium + '"' + ' data-photo-url-full="' + data.photo_url_full + '" data-album-id="' + album_id + '" data-photo-id="' + data.id + '"/>'});

        if ($('input[name=album\\[id\\]]').val() == '' || 
            $('input[name=album\\[id\\]]').val() == '0') {
          $('input[name=album\\[id\\]]').val(album_id);
          self.albumConfiguration();	
        }

        if ($('input[name=photo_path]').val() == '') {
          var photo_path = '/album/' + album_id+ '/photo/' + data.id;
          $('input[name=photo_path]').val(photo_path);
          $('input[name=photo_url_tiny]').val(data.photo_url_tiny);
          $('input[name=photo_url_small]').val(data.photo_url_small);
          $('input[name=photo_url_medium]').val(data.photo_url_medium);
          $('input[name=photo_url_full]').val(data.photo_url_full);
          $('.album-photo[data-photo-path="'+photo_path+'"]').addClass('album-main-photo');
        }
        
        if (entityId != null && entityAlbumId == null) {
          self.manager.model.currentEntity().album_id = album_id;
          self.manager.model.update();
        }

      });      

      this.fileUploader.addListener('file_uploaded_error', function(event) {
        var fileName = event.data.fileName;
        self.selector.updateElement({id:fileName, description:'<div style="width:144px; height: 85px; display:inline-block; text-align: center; position: relative; top: -30px; border: 1px dashed #FBB;background: rgba(255,100,100,0.2)"><span style="position: relative; top: 30px; color: rgb(255, 0, 0);"><%=t.uploader.error_title%></span></div>', hideDelete: true});
      });


      this.selector.addListener('add_element_button_click', function(event) {
      	self.fileUploader.uploadFile(); 
      });

      this.selector.addListener('delete_element_button_click', function(event) {

          self.manager.view.ask_for_confirmation(
                 'Delete photo', 
                 'Are you sure you want to delete this photo? This process can not be undone.',
                 function(){
                    self.deletePhoto(event.data);
                 });

      });

      this.selector.addListener('elements_updated', function() {
          self.selectMainPhoto();
          self.configSelectMainPhotoEvent();
      });
      
    }

    this.deletePhoto = function(photoId) {

      var self = this;

      $.ajax( {
                url  : "/photo/" + photoId,
                type : 'DELETE',
                success : function(data, textStatus, jqXHR) {
                  self.selector.deleteElement(photoId);
                },
                error : function(data, textStatus, jqXHR) {

                },
                complete : function(jqXHR, textStatus) {

                }
      }); 
       

    }

    this.selectMainPhoto = function() {

      var photo_path = $('#photo_path').val();

      if (photo_path && photo_path != '') {
        $('.album-photo[data-photo-path="'+photo_path+'"]').addClass('album-main-photo');
      }

    }

    this.configSelectMainPhotoEvent = function() {

      $('.album-photo').unbind('click');
      $('.album-photo').bind('click', function() { 
        $('.album-photo').removeClass('album-main-photo');
        $(this).addClass('album-main-photo');
        $('#photo_path').val($(this).attr('data-photo-path'));
        $('#photo_url_tiny').val($(this).attr('data-photo-url-tiny'));
        $('#photo_url_small').val($(this).attr('data-photo-url-small'));        
        $('#photo_url_medium').val($(this).attr('data-photo-url-medium'));
        $('#photo_url_full').val($(this).attr('data-photo-url-full'));
      });

    }

  }
  	
  var galleryPlugin = new GalleryPlugin();
  EntityManagementComplementHooks.register(galleryPlugin);	
	
});
</script>