<%= include('entity-management') %>

<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title"><%=t.media_storage_management.title%></h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
    <%= t.media_storage_management.description %>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.media_storage_management.table.name %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.media_storage_management.table.adapter %></th>
         <th class="table-header-title" scope="col" style="width:20%"><%= t.media_storage_management.table.account %></th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.name %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.adapter %></td>
      <td class="table-cell element-navigation-detail" rel="<%%= index %>"><%%= entity.account_id %></td>
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">

     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><div class="entity-fieldlabel"><%= t.media_storage_management.table.name %></div> <div class="entity-fieldvalue"><span class="entity-id"><%%= entity.name %></span></div> </div>
       <div class="entity-field"><div class="entity-fieldlabel"><%= t.media_storage_management.table.adapter %></div> <div class="entity-fieldvalue"><%%= entity.adapter %></div></div>
       <div class="entity-field"><div class="entity-fieldlabel"><%= t.media_storage_management.table.account %></div> <div class="entity-fieldvalue"><%%= entity.account_id %></div> </div>
     </div>

</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">
              
     <form name="element">
        
        <div class="form-fields">
        
          <div class="formrow">
            <label for="name" class="fieldtitle"><%= t.media_storage_management.form.name.label %> <span class="mandatoryfield">*</span></label>
            <input type="text" maxlength="32" id="name" name="name" class="fieldcontrol" <%% if (entity) { %> value="<%%= entity.name %>" <%% } %> />
            <div class="fielddescription"><%= t.media_storage_management.form.name.description %></div>
          </div>

          <div class="formrow">
            <label for="adapter" class="fieldtitle"><%= t.media_storage_management.form.adapter.label %> <span class="mandatoryfield">*</span></label>
            <select id="adapter" name="adapter"></select>
            <div class="fielddescription"><%= t.media_storage_management.form.adapter.description %></div>            
          </div> 

          <div class="formrow">
            <label for="account[id]" class="fieldtitle"><%= t.media_storage_management.form.account.label %> <span class="mandatoryfield">*</span></label>
            <select id="account[id]" name="account[id]"></select>
            <div class="fielddescription"><%= t.media_storage_management.form.account.description %></div>            
          </div>                  
        </div>
        
        <div class="bottom-navigation-bar navigation-bar">
             <div class="navigation-bar-crud-buttons">
                <%% if (entity) { %>
                  <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                <%% } 
                   else { %>
                  <input type="submit" class="create-entity-button action-button entity-management-button" value="<%=t.entitymanagement.create%>"/>
                <%% } %>
             </div>
        </div>
     
     </form>
     

</script>


<script type="text/javascript">
 
require(['jquery','YSDEntityManagement','YSDRemoteDataSource','YSDSelectSelector'], function($, EntityManagement, RemoteDataSource, SelectSelector){

  function StorageHook() {
 	   
    this.entityKey = function(entity) {
      return entity.id;
    }

    this.onNew = function() {
  	  $('#name').focus();
  	  this.configForm(null);
    };
    
    this.onEdit = function(entity) {
      $('#name').attr('readonly', true);
      $('#adapter').focus();  	
      this.configForm(entity);
    };
  
        
    this.configForm = function(entity) {
             
      var dataSourceAccount = new RemoteDataSource('/external-service-accounts',{'id':'id','description':'id'});
      var valueAccount = (entity && entity.account_id)?entity.account_id:null; 
      var selectorAccount = new SelectSelector('account[id]', dataSourceAccount, valueAccount, true );             

      var dataSourceAdapter = new RemoteDataSource('/api/media-storage-adapters', {'id':'id','description':'description'});
      var valueAdapter = (entity && entity.adapter)?entity.adapter:null; 
      var selector = new SelectSelector('adapter', dataSourceAdapter, valueAdapter, true );             

     	
    }
        
  	
  };
    
  var urls = { 
  	           query_url  : '/api/media-storages',
    	         create_url : '/api/media-storage',
  	           update_url : '/api/media-storage',
  	           delete_url : '/api/media-storage',
  	           get_url    : '/api/media-storage'
  	         };
  
  var storageHook = new StorageHook();
  var storageManager = new EntityManagement(urls, '<%= t.media_storage_management.title %>', 12, storageHook, {prefix: '/admin'});
 
});
  
</script>
